
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Style */
.secondary-bg{
    background-color: #FFF8F3;
}
.primary-text{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
}

/* nav style */
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
 }

 .nav-title{
    font-weight: bolder;
    font-size: 45px;
 }
 nav ul li{
    list-style: none;
 }
 nav li a{
    text-decoration: none;
    font-size: 20px;
 }
 nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    /* margin-right: 50px; */
 }

 /* Banner style */

 .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
 }
 .Name{
    font-size: 45px;
    font-style: bold;
 }
 
 .header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
 }
 /* main Style */
 main section{
    margin-top: 120px;
 }
main{
    max-width: 1140px;
    margin: 0px auto;
}
.section-title{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
    text-align: center; 
}
.section-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
section ul{
    display: flex;
    gap: 25px;
    list-style: none;
    justify-content: center;
}
.about{
    padding: 50px 100px;
    align-items: center;
    border-radius: 10px;
}
.skill-name{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 60px 0px #000000;
}
.cv{
    display: flex;
    gap: 40px;
    margin-top: 60px;
}
.education-name{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
}
.institution{
    font-weight:500px ;
    font-size: 18px;
    color: #757575;
}
.description{
    font-weight:400px ;
    font-size: 14px;
    color: #757575;
}
.Download-cv{
    text-align: center;
    margin-top: 50px;
}